.base-info {
  background-color: #fff;
  .height10 {
    height: 0.31rem;
    background-color: #F3F4FA;
  }
  .van-cell {
    line-height: 1.63rem;
    padding: 0 0.5rem;
    font-size: 0.5rem;
    .van-field__control {
      text-align: right;
    }
  }

  .van-field__control--custom {
    display: flex;
    justify-content: flex-end;
  }
  .avatar{
    display: flex;
    align-items: center;
    img {
      width: 1.38rem;
      margin: 0.5rem 0;
    }
  }
  .login-out {
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #2D74E7;
    line-height: 0.63rem;
    text-decoration: underline;
    font-size: 0.44rem;
  }
  .footer {
    background-color: #fff;
    padding: 0.56rem 0.47rem;
    font-size: 0;
    position: fixed;
    width: calc(100% - 0.94rem);
    bottom: 1.22rem;
    button {
      font-size: 0.56rem;
      font-family: PingFangSC-Regular, PingFang SC;
      font-weight: 400;
      line-height: 0.78rem;
      color: #fff;
      height: 1.34rem;
      background: linear-gradient(140deg, #327EFF 0%, #00DCFF 100%);
      box-shadow: 0rem 0.13rem 0.19rem 0rem rgba(45, 116, 231, 0.34);
      border-radius: 0.63rem;
      border: 0;
    }
  }
}