.plan {
  background-color: #f8f8f8;
  height: 100%;
  header {
    font-size: 0;
    img {
      width: 100%;
    }
  }
 
  .plan-label {
    height: 1.63rem;
    font-size: 0.5rem;
    font-weight: 400;
    color: #000000;
    line-height: 22px;
  }
  .plan-button {
    color: #28D190;
    font-size: 0.53rem;
    width: 4.75rem;
    height: 1.88rem;
    &:first-child {
      margin-right: 0.58rem;
    }
  }
}
